.comps_container{
    width: 850px;
}

.comps_title{
    font-size: 1.5em;
    padding-bottom: 10px;
}


.comps_cards-container{
    display: flex;
    justify-content: center;
    
}

.comps_card{
    width: 20rem;
    margin-right: 15px;
    margin-bottom: 50px;
    text-decoration: none !important;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
   
 
}

.comps_card:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.comps_price{
    font-size: 1.25em;
    font-weight: bold;
    color: black;
}

.comps_row-container{
    display: flex;
   margin-top: 7px;
}

.comps_stat{
    margin-right: 7px;
    color: grey;
    font-size: 14px;
}

.comps_address{
    margin-top: 7px;
    color: grey;
    font-size: 14px;
}

@media (min-width: 280px) {

    .comps_container{
        width: 350px;
    }
    .comps_container{
       justify-content: center;
    }
    .comps_title{
        text-align: center;
    }
   
    .comps_cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        
    }

    .comps_card{
        width: 20rem;
        margin-right: 0px;
        margin-bottom: 20px;
     
    }

}

@media (min-width: 300px) {

    .comps_container{
        width: 350px;
    }

    .comps_cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

     .comps_card{
         width: 19rem;
      
     }
  

}


@media (min-width: 700px) {

    .comps_container{
        width: 450px;
    }

    .comps_card{
        width: 20rem;       
    }

}

@media (min-width: 1000px) {
    
    .comps_title{
        text-align: initial;
    }
    .comps_container{
        width: 950px;
    }
    
    .comps_cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .comps_card{
        width: 20rem;
        margin-right: 15px;
        margin-bottom: 50px;
    }
    
  

}