.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 850px; */

    height: auto;
}


.home_carousel {
    display: flex;
    height: auto;
    width: 750px;
    margin-top: 20px
}

.home_intro_container {
    border-bottom: 1px solid lightgrey;
}

.address {
    font-size: 20px;
    padding-bottom: 20px;
}

.stat_row {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 850px;

}

.price_container,
.bed_container,
.bath_container,
.square-feet_container {
    display: flex;
    flex-direction: column;
}

#stat_number {
    font-size: 20px;
}

#stat_name {
    color: grey;
}

.home_paragraph-container {

    padding-top: 30px;
    width: 850px;
}

@media (min-width: 280px) {
    .home_intro_container {
        display: flex;
        flex-direction: column;
        align-items: center;


        /* width: 100px; */
    }

    .stat_row {
        align-items: center;
        justify-content: center;
    }

    .address{
        font-size: 16px;
        align-items: center;
    }

    .price_container,
    .bed_container,
    .bath_container,
    .square-feet_container {
        padding-right: 25px;
        align-items: center;
        justify-content: center;

    }

}