
#card-title{
    font-weight: bold;
}

#card-li{
    font-size: 14px;
}

.home_card{
    width: 850px;
    margin-bottom: 100px;

}


.features{
    display: flex;
    justify-content: space-between;
}

.features-column-one{
    width: 375px;
}

.features-column-two{
    width: 500px;
}


@media (min-width: 280px) {
   
    .home_card{
        width: 350px;
        margin-bottom: 50px;
    
    }
    .features-column-one{
        width: 375px;
    }
    
    .features-column-two{
        width: 400px;
    }

}

@media (min-width: 320px) {
   
    .home_card{
        width: 365px;
     
    
    }


}