
#card-title{
    font-weight: bold;
}

#card-li{
    font-size: 14px;
}

.home_card{
    width: 850px;
    margin-bottom: 100px;

}


.features{
    display: flex;
    justify-content: space-between;
}

.features-column-one{
    width: 375px;
}

.features-column-two{
    width: 500px;
}


@media (min-width: 280px) {
   
    .home_card{
        width: 350px;
        margin: 50px 50px;
    
    }
    .features-column-one{
        width: 375px;
    }
    
    .features-column-two{
        width: 400px;
    }

    

}

@media (min-width: 320px) {
   
    .home_card{
        width: 320px;
     
    }

    .features-column-one{
        padding-right: 10px;
    }
    
    .features-column-two{
        padding-left: 10px;
        
    }
}

@media (min-width: 375px) {
   
    .home_card{
        width: 350px;
     
    }

    .features-column-one{
        width: 375px;
        padding-right: 10px;
    }
    
    .features-column-two{
        padding-left: 10px;
        width: 500px;
    }
}


/* iphone plus */
@media (min-width: 411px) {
   
    .home_card{
        width: 375px;
     
    }

    .features-column-one{
        width: 375px;
        padding-right: 10px;
    }
    
    .features-column-two{
        padding-left: 10px;
        width: 500px;
    }


}

@media (min-width: 700px) {

    .home_card{
        width: 455px;
     
    }

}

@media (min-width: 1000px) {

    .home_card{
        width: 900px;
     
    }

}